---
Checks: '-*,
  bugprone-*,
  google-*,
  performance-*,
  clang-analyzer-*,
  concurrency-*,
  modernize-*,
  clang-diagnostic-*,
  misc-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-redundant-access-specifiers,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers,
  -concurrency-mt-unsafe,
  -misc-use-anonymous-namespace,
  '
